# Eclipse project files
/.metadata
*.project
*.classpath
*.core.prefs
*.prefs

# PyCharm project files
.idea/

# PyDev project files
*.pydevproject

# Python Cache files
*.pyc

# Benchmarks (do not ignore "MyTests"-folders since required for tests)
*.npz
!**/test_datasets/**
dsb_2019-09-03.npz

# Output
**/logs
**/stattests
metric_db.csv

metric_db*.csv
avg_metric_db.csv
selection_fcts*.csv
